<html xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" href="/css/common.css"/>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="biosignals-app" ng-controller="ManageController">
        <div>
            <div ng-include="'/html/header.html'"></div>
        </div>

        <div class="body" ng-init="list()">
            <div class="table" ng-show="edfProperties.length > 0">
                <div class="row header">
                    <div class="key">UUID</div>
                    <div class="key">Name</div>
                    <div class="key">Recording identification from file</div>
                    <div class="key">Upload date</div>
                    <div class="key">Visualize</div>
                    <div class="key">Analyze</div>
                    <div class="key">Remove</div>
                </div>
                <div class="row bordered" ng-repeat="edfProperty in edfProperties">
                    <div class="key">{{edfProperty.uuid}}</div>
                    <div class="key">{{edfProperty.name}}</div>
                    <div class="key">{{edfProperty.metadataIdentification}}</div>
                    <div class="key">{{edfProperty.createdDate}}</div>
                    <div class="key"><a ng-click="visualize(edfProperty.uuid)" href="">Visualize</a></div>
                    <div class="key"><a ng-click="analyze(edfProperty.uuid)" href="">Analyze</a></div>
                    <div class="key"><a ng-click="remove(edfProperty.uuid)" href="">Remove</a></div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/js/manage.js"></script>
    </body>
</html>