<html xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" href="/css/common.css"/>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="biosignals-app" ng-controller="UploadController">
        <div>
            <div ng-include="'/html/header.html'"></div>
        </div>

        <div class="body">

            <div class="upload">
                <div class="table">
                    <div class="row">
                        <div class="key"><div class="title">Upload your file</div></div>
                        <div class="value"></div>
                    </div>
                    <div class="row">
                        <div class="key">Data file:</div>
                        <div class="value"><input type="file" id="file"/></div>
                    </div>
                    <div class="row">
                        <div class="key">Name:</div>
                        <div class="value"><input type="text" id="name" class="text"/></div>
                    </div>
                    <div class="row">
                        <div class="key"></div>
                        <div class="value"><button ng-click="upload()">Upload</button></div>
                    </div>
                </div>
            </div>

            <div class="success" ng-show="edfMetadata">
                File has been upload successfully.
                <a href="/html/visualize.html">View data here.</a>
            </div>

            <div ng-show="edfMetadata">
                <div class="table">
                    <div class="row">
                        <div class="key"><div class="title">Metadata from file</div></div>
                        <div class="value"></div>
                    </div>
                    <div class="row">
                        <div class="key">Patient identification:</div>
                        <div class="value">{{edfMetadata.localPatientIdentification}}</div>
                        <div class="key">Number of data records: </div>
                        <div class="value">{{edfMetadata.noOfDataRecords}}</div>
                    </div>
                    <div class="row">
                        <div class="key">Recording identification: </div>
                        <div class="value">{{edfMetadata.localRecordingIdentification}}</div>
                        <div class="key">Duration of data record (seconds): </div>
                        <div class="value">{{edfMetadata.dataRecordDurationInSeconds}}</div>
                    </div>
                    <div class="row">
                        <div class="key">Number of signals: </div>
                        <div class="value">{{edfMetadata.noOfSignalsInDataRecord}}</div>
                        <div class="key">Start time: </div>
                        <div class="value">{{edfMetadata.startDate}} {{edfMetadata.startTime}}</div>
                    </div>
                </div>

                <div class="table">
                    <div class="row">
                        <div class="key"><div class="title">Signals in the file</div></div>
                        <div class="value"></div>
                    </div>
                    <div class="row">
                        <div class="value">
                            <span ng-repeat="signal in edfMetadata.signalMetadata">
                                {{signal.label}} &nbsp;&nbsp;&nbsp;&nbsp;
                                <br ng-show="($index + 1) % 10 == 0"/>
                            </span>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <script type="text/javascript" src="/js/upload.js"></script>
    </body>
</html>